.a5e-actor-image {
  height: 7rem;
  width: 7rem;
  flex-shrink: 0;
  margin: -0.5rem 0 0 0.5rem;
  object-position: top;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--outline-gold);
  cursor: pointer;
  z-index: 1;
}
