.a5e-currency {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5c4b3d;
  background: rgba(246, 242, 235, 0.15);
  border: 1px solid rgba(120, 100, 82, 0.2);
  border-radius: var(--border-radius-md);

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-shrink: 0;
    width: 100%;
    color: inherit;
    padding-block: 0.125rem;
    background: rgba(120, 100, 82, 0.2);
    text-transform: uppercase;
    line-height: 1;
  }

  &__input[type="number"] {
    width: 100%;
    height: fit-content;
    padding-block: 0.125rem;
    text-align: center;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: inherit;
    line-height: 1;
  }
}
