.a5e-footer-field {
  display: flex;
  gap: 0.25rem;
  font-family: var(--font-serif);
  border-radius: var(--border-radius-md);
  box-shadow: var(--outline-gold);
  overflow: hidden;

  &__input,
  &__input[type="number"] {
    padding-inline: 0.5rem;
    text-align: center;
    background: transparent;
    border: 0;

    &:focus {
      box-shadow: none;
    }
  }

  &__label {
    padding: 0.25rem 0.5rem;
    font-size: var(--font-size-sm);
    color: var(--color-light-text);
    border-right: 1px solid #3e4240;
    background: var(--color-primary);
  }

  &__values {
    display: flex;
    align-items: center;
    color: var(--color-text);
  }
}
