.a5e-footer-field {
  --values-padding: 0.25rem;

  display: flex;
  flex-shrink: 0;
  font-family: var(--font-serif);
  background: rgba(246, 242, 235, 0.15);
  border-radius: var(--border-radius-md);
  box-shadow: var(--outline-gold), 0 3px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;

  &--stacked {
    --values-padding: 0;
    --label-justification: center;

    flex-direction: column;
    gap: 0;
  }

  &__input,
  &__input[type="number"] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--form-field-height);
    width: 100%;
    min-width: 3ch;
    padding-inline: 0.5rem;
    text-align: center;
    background: transparent;
    border: 0;

    &:focus {
      box-shadow: none;
    }
  }

  &__input--currency,
  &__input--currency[type="number"] {
    min-width: 7ch;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: var(--label-justification, initial);
    padding: 0.25rem 0.5rem;
    line-height: 1;
    font-size: var(--font-size-sm);
    color: var(--color-light-text);
    border-right: 1px solid #3e4240;
    background: var(--color-primary);
    box-shadow: 0 0 10px #2e4246 inset;

    &--currency {
      gap: 0.5rem;
      text-transform: uppercase;
    }
  }

  &__values {
    display: flex;
    align-items: center;
    padding-left: var(--values-padding);
    color: var(--color-text);
    border: 1px solid #ccc;
  }
}
