.a5e-ability-scores-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content;
  gap: 0.625rem;
  grid-area: attributes;
  margin: 0;
  padding-block: 0;
  padding-inline: 0.5rem;
  list-style: none;
  font-family: var(--font-serif);
}

@container sheet (height < 700px) {
  .a5e-ability-scores-wrapper  {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    margin-top: -0.5rem;
    padding-block: 1rem 0;
    padding-inline: 0.75rem;
    border-right: 1px solid #ccc;
  }
}
