.a5e-ability-scores-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
  gap: 0.625rem;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-serif);
}
