.a5e-currencies-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.25rem;
  grid-area: currency;
  margin: 0 0.5rem 0 0;
  padding: 0;
  font-family: var(--font-serif);
  list-style: none;
}
