.a5e-item-page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-right: 0;
  overflow: hidden;

  &--skills {
    padding-right: 0.5rem;
  }
}
