.a5e-page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-right: 0;
  overflow: hidden;

  &--has-footer {
    padding-bottom: 0;
  }

  &--notes {
    padding-top: 0.125rem;
  }

  &--core,
  &--notes,
  &--settings,
  &--skills {
    padding-right: 0.5rem;
  }

  &--core,
  &--settings {
    padding-top: 0;
    margin-top: 0.5rem;
    overflow-y: auto;
  }
}
