.a5e-tab-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.25rem;
  padding-left: var(--padding-left, 0.5rem);
  padding-right: var(--padding-right, 0.5rem);
  padding-block: 0.75rem;
  font-size: var(--font-size-sm);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid #ccc;

  &--inventory,
  &--inventory-alt,
  &--maneuvers,
  &--spells {
    justify-content: flex-start;
    gap: 0.75rem;
  }

  &--inventory {
    display: grid;
    grid-template-areas: "bar bar bar bulky"
      "attunement supply currency currency";
  }

  &--inventory-alt {
    display: grid;
    grid-template-areas: "attunement supply bulky x"
      "currency currency currency currency";
    grid-template-columns: repeat(3, min-content) 1fr;
  }
}
